:root {
  --ff-primary: system-ui, sans-serif;

  --fs-large: 2rem;
  --fs-regular: 1rem;
  --fs-small: 0.7rem;

  --clr-primary-400: hsl(3, 78%, 69%);
  --clr-secondary-400: hsl(7, 73%, 87%);
  --clr-tertiary-400: hsl(83, 22%, 76%);

  --clr-purple-400: hsl(252, 36%, 77%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-700: hsl(0, 0%, 27%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--ff-primary);
  display: flex;
  flex-direction: column;
}

.flex-group {
  display: flex;
  align-items: center;
}

/* hide CMP revisit button */
.cky-btn-revisit-wrapper {
  display: none;
}
