:root {
  --ff-primary: 'Montserrat', system-ui, sans-serif;
  --ff-accent: var(--ff-primary);
  --ff-slogan: 'Fira Sans', system-ui, sans-serif;

  --fs-large: 2rem;
  --fs-medium: 1.1875rem;
  --fs-regular: 1rem;
  --fs-small: 0.8125rem;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;

  --clr-primary-400: hsl(3, 78%, 69%);
  --clr-primary-700: hsl(3, 78%, 29%);
  --clr-secondary-400: rgb(246, 203, 198);
  --clr-tertiary-400: hsl(83, 22%, 76%);

  --clr-purple-400: hsl(252, 36%, 77%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 96%);
  --clr-neutral-400: hsl(0, 0%, 50%);
  --clr-neutral-700: hsl(0, 0%, 20%);
  --clr-neutral-900: hsl(0, 0%, 0%);

  --clr-transparent-75: hsl(0, 0%, 0%, 0.75);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline-color: var(--clr-primary-400);
}

html,
body {
  min-height: 100vh;
}

body {
  font-family: var(--ff-primary);
  font-weight: var(--fw-light);
  font-size: var(--fs-regular);
  color: var(--clr-neutral-700);
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  padding: 1rem 2rem 0;
  max-width: 1300px;
}

@media only screen and (max-width: 800px) {
  body {
    padding-inline: 0;
  }
}

h1 {
  font-size: var(--fs-large);
  font-weight: var(--fw-regular);
  margin-bottom: 0.75rem;
}

h2 {
  font-size: var(--fs-medium);
  margin-block: 1.5rem 0.75rem;
}

h3 {
  font-size: var(--fs-regular);
}

p {
  margin-block: 0.5rem;
  line-height: 1.5;
  max-width: 80ch;
}

a {
  text-decoration: none;
  color: var(--clr-primary-700);
}

a:hover,
a:focus {
  color: var(--clr-primary-400);
}

img,
svg {
  display: inline-block;
  max-width: 100%;
  width: auto;
  height: auto;
}

button {
  font-family: var(--ff-accent);
  background: none;
  border: none;
}

button:hover,
button:focus {
  cursor: pointer;
}

ul {
  list-style-type: square;
  margin-bottom: 2.5rem;
}

li::marker {
  color: var(--clr-primary-400);
  font-size: 1.3rem;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.flow {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.flex-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.grid {
  display: grid;
}

.btn--primary {
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-700);
  padding: 1rem 2rem;
  margin: 1.5rem auto;
  border-radius: 20px;
  width: 100%;
  max-width: 400px;
  text-transform: uppercase;
  font-weight: var(--fw-bold);
  font-size: var(--fs-regular);
  border: 2px solid var(--clr-primary-400);
  transition: background-color 300ms;
}

.btn--primary:hover,
.btn--primary:focus {
  background-color: var(--clr-secondary-400);
  color: var(--clr-neutral-700);
}

.icon-link,
.icon-btn {
  fill: var(--clr-neutral-700);
  transition: fill 200ms;
}

.icon-link {
  width: 1.5rem;
  height: 1.5rem;
}

.icon-btn {
  width: 2.5rem;
  height: 2.5rem;
}

/* hide CMP revisit button */
.cky-btn-revisit-wrapper {
  display: none;
}
