---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Úvod">
  <p>Hledáte zábavu?</p>

  <!-- Netlify Identity redirect -->
  <script is:inline>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on('init', (user) => {
        if (!user) {
          window.netlifyIdentity.on('login', () => {
            document.location.href = '/admin/';
          });
        }
      });
    }
  </script>
</MainLayout>
