---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

import OrderButton from '../components/OrderButton.astro';
import MainLayout from '../layouts/MainLayout.astro';
import Testimonial from '../components/Testimonial.astro';

import topImg from '../assets/images/uvod_01.webp';
import bottomImg from '../assets/images/uvod_02.webp';

const services = await getCollection('testimonials');
---

<MainLayout title="Úvod">
  <div class="grid">
    <section class="introduction">
      <p class="introduction-text">
        Hledáte program, který bude děti skutečně bavit a zároveň je hravou
        formou něco naučí? Chcete upsořádat parádní narozeninovou oslavu,
        karneval či akci ve vaší školce? Pak jste tu správně!
      </p>
      <OrderButton link="/sluzby">Objednat zábavu</OrderButton>
    </section>

    <Image
      class="content-img sh-top-large sh-left-large"
      src={topImg}
      alt="Šárka usmívající se a oblečená v červeno černém oblečení s červeným kloboukem"
    />

    <Image
      class="content-img--square sh-right-small sh-bottom-small"
      src={bottomImg}
      alt="Šárka maluje motýlka na obličej malé dívce"
    />

    <section class="testimonials">
      <Testimonial testimonial={services[0]} floatDirection="right" />
      <Testimonial testimonial={services[1]} floatDirection="left" />
    </section>
  </div>

  <!-- Netlify Identity redirect -->
  <script is:inline>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on('init', (user) => {
        if (!user) {
          window.netlifyIdentity.on('login', () => {
            document.location.href = '/admin/';
          });
        }
      });
    }
  </script>
</MainLayout>

<style>
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(18.5rem, calc(50% - 2rem)));
    justify-items: center;
    justify-content: center;
    padding-top: 2rem;
    gap: 4rem;
  }

  .introduction-text {
    font-size: var(--fs-medium);
    max-width: 35ch;
    margin-top: 2rem;
  }

  .testimonials {
    display: grid;
    gap: 4rem;
    width: 100%;
  }

  @media only screen and (max-width: 800px) {
    .introduction {
      text-align: center;
    }

    .introduction-text {
      margin-top: initial;
    }

    img:last-of-type {
      order: 1;
    }
  }
</style>

<style is:inline>
  .testimonial:last-of-type {
    justify-self: end;
    margin-bottom: 1rem;
  }
</style>
