---
import MainLayout from '../layouts/MainLayout.astro';
import ContactForm from '../components/ContactForm.astro';
---

<MainLayout title="Kontakt">
  <h1>Kontakt</h1>
  <ContactForm />
</MainLayout>
