---
import MainLayout from '../layouts/MainLayout.astro';
import ContactForm from '../components/ContactForm.astro';
---

<MainLayout title="Kontakt">
  <div class="flow">
    <p>
      Chcete si zarezervovat program nebo máte dotazy ohledně nabízených služeb?
      Kontaktujte mě prosím pomocí tohoto formuláře.
    </p>
    <ContactForm />
  </div>
</MainLayout>

<style>
  p {
    text-align: center;
    max-width: 650px;
    margin-inline: auto;
  }
</style>
