---
import MainLayout from '../layouts/MainLayout.astro';
import ContactForm from '../components/ContactForm.astro';
---

<MainLayout title="Kontakt">
  <div class="content-wrap">
    <ContactForm />
  </div>
</MainLayout>

<style>
  .content-wrap {
    display: grid;
    justify-content: center;
  }
</style>
