---
import 'flatpickr/dist/flatpickr.min.css';

import { getCollection } from 'astro:content';
import { getReservedDates } from '../server/calendar/events';

const services = await getCollection('services');
const program = Astro.url.searchParams.get('p');

const reservedDates: any = await getReservedDates();
---

<form class="submit-form" method="POST">
  <div>
    <label for="name">Jméno a příjmení</label>
    <input id="name" name="name" type="text" autocomplete="name" required />
  </div>

  <div>
    <label for="email">Email</label>
    <input id="email" name="email" type="email" autocomplete="email" required />
  </div>

  <div>
    <label for="service-select">Program</label>
    <select id="service-select" name="service-select">
      <option value="zadny">Žádný</option>
      {
        services.map((service) => (
          <option value={service.slug}>{service.data.title}</option>
        ))
      }
    </select>
  </div>

  {
    !reservedDates.error && (
      <>
        <input
          id="datepicker"
          name="date"
          class="flatpickr flatpickr-input"
          type="text"
          placeholder="Vybrat datum"
          readonly="readonly"
          style="display:none"
        />
        <input
          id="location-input"
          name="location"
          type="text"
          placeholder="Adresa"
          style="display:none"
        />
      </>
    )
  }

  <div>
    <label for="message">Zpráva</label>
    <textarea id="message" name="message"></textarea>
  </div>

  <div>
    <input id="subscribe" name="subscribe" type="checkbox" />
    <label for="subscribe"
      >Chci dostávat e-mailem novinky a upozornění na nové programy.</label
    >
  </div>

  <div class="phone-input">
    <input
      id="user-number"
      name="user-number"
      type="text"
      value=""
      tabindex="-1"
    />
  </div>

  <button class="btn--primary" type="submit">Odeslat</button>
</form>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script define:vars={{ program }}>
  const datepickerElement = document.getElementById('datepicker');
  const locationElement = document.getElementById('location-input');
  const selectElement = document.getElementById('service-select');

  selectElement.addEventListener('change', () => {
    if (selectElement.value === 'zadny') hideInputs();
    else showInputs();
  });

  selectElement.value = program ?? 'zadny';
  if (selectElement.value !== 'zadny') showInputs();

  function hideInputs() {
    datepickerElement.style.display = 'none';
    locationElement.style.display = 'none';
  }

  function showInputs() {
    datepickerElement.style.display = 'block';
    locationElement.style.display = 'block';
  }
</script>

<script is:inline define:vars={{ reservedDates }}>
  const today = new Date();
  const threeDaysFromNow = new Date(today);
  threeDaysFromNow.setDate(today.getDate() + 3);

  const todayNextYear = new Date(today);
  todayNextYear.setFullYear(today.getFullYear() + 1);

  document.addEventListener('DOMContentLoaded', function () {
    flatpickr('#datepicker', {
      disable: reservedDates,
      dateFormat: 'Y-m-d',
      minDate: threeDaysFromNow,
      maxDate: todayNextYear,
    });
  });

  const formElement = document.querySelector('.submit-form');
  formElement.addEventListener('submit', (e) => {
    e.preventDefault();

    const formData = new FormData(e.currentTarget);
    if (!isInputValid(formData)) {
      return;
    }
    submitForm(formData);
  });

  function isInputValid(input) {
    let isValid = true;

    if (input.get('user-number') !== '') {
      // Handle bots
      isValid = false;
    }
    return isValid;
  }

  async function submitForm(formData) {
    const url = '/api/kontakt';
    const response = await fetch(url, {
      method: 'POST',
      body: formData,
    });
    if (response.ok) {
      fireSubmitEvent();
      formElement.reset();
    } else {
      const errorData = await response.json();
      console.error(response.status, errorData.error);
    }
  }

  function fireSubmitEvent() {
    try {
      gtag('event', 'form_submit');
    } catch (error) {
      console.warn('Submit event failed:', error);
    }
  }
</script>

<style>
  .phone-input {
    position: absolute;
    left: -5000px;
  }
</style>

<style is:inline>
  .flatpickr-day:not(.flatpickr-disabled)::after {
    --underline-width: 15px;
    content: '';
    display: inline-block;
    position: absolute;
    left: calc(50% - var(--underline-width) / 2);
    bottom: calc(var(--underline-width) / 2);
    width: var(--underline-width);
    height: 1px;
    background-color: var(--clr-primary-400);
  }
</style>
