---
import { getCollection } from 'astro:content';

const services = await getCollection('services');
const program = Astro.url.searchParams.get('program');
---

<form class="submit-form" method="POST">
  <div>
    <label for="name">Jméno a příjmení</label>
    <input id="name" name="name" type="text" autocomplete="name" required />
  </div>

  <div>
    <label for="email">Email</label>
    <input id="email" name="email" type="email" autocomplete="email" required />
  </div>

  <div>
    <label for="service-select">Program</label>
    <select id="service-select" name="service-select">
      <option value="zadny">Žádný</option>
      {
        services.map((service) => (
          <option value={service.slug}>{service.data.title}</option>
        ))
      }
    </select>
  </div>

  <div>
    <label for="message">Zpráva</label>
    <textarea id="message" name="message" required></textarea>
  </div>

  <div>
    <input id="subscribe" name="subscribe" type="checkbox" />
    <label for="subscribe"
      >Chci dostávat e-mailem novinky a upozornění na nové programy.</label
    >
  </div>

  <div class="phone-input">
    <input
      id="user-number"
      name="user-number"
      type="text"
      value=""
      tabindex="-1"
    />
  </div>

  <button class="btn--primary" type="submit">Odeslat</button>
</form>

<script define:vars={{ program }}>
  const selectElement = document.getElementById('service-select');
  selectElement.value = program ?? 'zadny';
</script>

<script is:inline>
  const formElement = document.querySelector('.submit-form');
  formElement.addEventListener('submit', (e) => {
    e.preventDefault();

    const formData = new FormData(e.currentTarget);
    if (!isInputValid(formData)) {
      return;
    }
    submitForm(formData);
  });

  function isInputValid(input) {
    let isValid = true;

    if (input.get('user-number') !== '') {
      // Handle bots
      isValid = false;
    }
    return isValid;
  }

  async function submitForm(formData) {
    const url = '/api/kontakt';
    const response = await fetch(url, {
      method: 'POST',
      body: formData,
    });
    if (response.ok) {
      fireSubmitEvent();
      formElement.reset();
    } else {
      const errorData = await response.json();
      console.error(response.status, errorData.error);
    }
  }

  function fireSubmitEvent() {
    try {
      gtag('event', 'form_submit');
    } catch (error) {
      console.warn('Submit event failed:', error);
    }
  }
</script>

<style>
  .phone-input {
    position: absolute;
    left: -5000px;
  }
</style>
