<form class="submit-form" action="/api/contact" method="POST">
  <label for="name">Jméno a příjmení</label>
  <input name="name" type="text" />
  <label for="email">Email</label>
  <input name="email" type="email" />
  <label for="message">Zpráva</label>
  <input name="message" type="text" />
  <button type="submit">Odeslat</button>
</form>

<script is:inline>
  const formElement = document.querySelector('.submit-form');
  formElement.addEventListener('submit', (e) => {
    e.preventDefault();

    const formData = new FormData(formElement);
    submitForm(formData);
  });

  async function submitForm(formData) {
    const url = '/api/contact';
    const response = await fetch(url, { method: 'POST', body: formData });
    const data = await response.json();
    console.log(data);
    fireSubmitEvent();
  }

  function fireSubmitEvent() {
    gtag('event', 'form_submit');
  }
</script>
