---
const currentYear = new Date().getFullYear();
---

<footer>
  <a href="javascript:void(0);" id="cookies-link">Nastavení cookies</a>
  <div class="flex-group copyright">
    <p>© {currentYear} Zábava se Šárkou</p>
    <p>webové stránky vytvořil Aleš Zima</p>
  </div>
</footer>

<style>
  .flex-group {
    justify-content: space-around;
  }

  .copyright {
    font-size: var(--fs-small);
  }
</style>

<script>
  const cookiesLink = document.getElementById('cookies-link');
  cookiesLink.addEventListener('click', (event) => {
    event.preventDefault();
    const cookieBanner = document.querySelector('.cky-consent-container');
    cookieBanner?.classList.toggle('cky-hide');
    console.log('Cookies link was clicked');
  });
</script>
