---
import Media from './Media.astro';
---

<header>
  <p class="slogan">Zábava se Šárkou</p>
  <img
    class="logo-img"
    src="/images/logo.png"
    alt="Šárčin ikonický červený klobouk se zeleným lístkem a nápisem zábava na míru pro děti"
  />
  <button class="menu-btn">
    <svg
      class="icon-btn"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 448 512"
      ><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
      <path
        d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"
      ></path></svg
    >
  </button>
  <div class="media">
    <Media />
  </div>
</header>

<script>
  const mainNavbar = document.getElementById('main-navbar');
  const menuBtn = document.querySelector('.menu-btn');
  menuBtn.addEventListener('click', () => {
    mainNavbar.classList.toggle('open');
  });
</script>

<style>
  .slogan {
    color: var(--clr-primary-400);
    font-size: 4.5rem;
    font-weight: var(--fw-bold);
    margin: 1rem;
  }
  header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
  }

  .menu-btn {
    display: none;
  }

  @media only screen and (max-width: 800px) {
    header {
      grid-template-columns: 1fr auto 1fr;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background-color: var(--clr-neutral-100);
      box-shadow: 5px 5px 20px var(--clr-neutral-400);
      z-index: 50;
      padding-block: 0.3rem;
    }

    .logo-img {
      max-height: 2.5rem;
      order: -1;
    }

    .slogan {
      font-size: var(--fs-medium);
    }

    .menu-btn {
      display: block;
    }

    .menu-btn > svg {
      fill: var(--clr-primary-400);
      width: 2rem;
      height: 2rem;
    }

    .media {
      display: none;
    }
  }
</style>
