<nav>
  <ul class="flex-group">
    <li><a href="/">Úvod</a></li>
    <li><a href="/o-mne">O mně</a></li>
    <li><a href="/sluzby">Služby</a></li>
    <li><a href="/cenik">Ceník</a></li>
    <li><a href="/galerie">Galerie</a></li>
    <li><a href="/novinky">Novinky</a></li>
    <li><a href="/mysak-ocko">Myšák Očko</a></li>
    <li><a href="/reference">Reference</a></li>
    <li><a href="/kontakt">Kontakt</a></li>
  </ul>
</nav>

<style>
  ul {
    justify-content: center;
    gap: 1rem 2rem;
    list-style: none;
  }
  a {
    text-transform: uppercase;
    color: var(--clr-neutral-100);
    font-weight: var(--fw-bold);
    font-size: var(--fs-medium);
    transition: color 150ms;
  }

  a:hover,
  a:focus {
    color: var(--clr-primary-400);
  }
</style>
