---
const currentPage = Astro.url.pathname;
---

<nav>
  <ul class="flex-group">
    <li>
      <a class={currentPage === '/' ? 'active' : ''} href="/">Úvod</a>
    </li>
    <li>
      <a class={currentPage.startsWith('/o-mne') ? 'active' : ''} href="/o-mne"
        >O mně</a
      >
    </li>
    <li>
      <a
        class={currentPage.startsWith('/sluzby') ? 'active' : ''}
        href="/sluzby">Služby</a
      >
    </li>
    <li>
      <a class={currentPage.startsWith('/cenik') ? 'active' : ''} href="/cenik"
        >Ceník</a
      >
    </li>
    <li>
      <a
        class={currentPage.startsWith('/galerie') ? 'active' : ''}
        href="/galerie">Galerie</a
      >
    </li>
    <li>
      <a
        class={currentPage.startsWith('/novinky') ? 'active' : ''}
        href="/novinky">Novinky</a
      >
    </li>
    <li>
      <a
        class={currentPage.startsWith('/mysak-ocko') ? 'active' : ''}
        href="/mysak-ocko">Myšák Očko</a
      >
    </li>
    <li>
      <a
        class={currentPage.startsWith('/reference') ? 'active' : ''}
        href="/reference">Reference</a
      >
    </li>
    <li>
      <a
        class={currentPage.startsWith('/kontakt') ? 'active' : ''}
        href="/kontakt">Kontakt</a
      >
    </li>
  </ul>
</nav>

<style>
  ul {
    justify-content: center;
    gap: 1rem 2rem;
    list-style: none;
  }
  a {
    text-transform: uppercase;
    color: var(--clr-neutral-100);
    font-weight: var(--fw-bold);
    font-size: var(--fs-medium);
    transition: color 150ms;
  }

  a:hover,
  a:focus {
    color: var(--clr-primary-400);
  }

  .active {
    color: var(--clr-primary-400);
  }
</style>
