---
const currentPage = Astro.url.pathname;
---

<div class="backdrop" style="display:none"></div>
<nav id="main-navbar">
  <ul class="flex-group">
    <button class="close-btn"
      ><svg
        class="icon-btn"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 384 512"
        ><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
        <path
          d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
        ></path></svg
      ></button
    >
    <li>
      <a class={currentPage === '/' ? 'active' : ''} href="/">Úvod</a>
    </li>
    <li>
      <a class={currentPage.startsWith('/o-mne') ? 'active' : ''} href="/o-mne"
        >O mně</a
      >
    </li>
    <li>
      <a
        class={currentPage.startsWith('/sluzby') ? 'active' : ''}
        href="/sluzby">Služby</a
      >
    </li>
    <li>
      <a class={currentPage.startsWith('/cenik') ? 'active' : ''} href="/cenik"
        >Ceník</a
      >
    </li>
    <li>
      <a
        class={currentPage.startsWith('/galerie') ? 'active' : ''}
        href="/galerie">Galerie</a
      >
    </li>
    <li>
      <a
        class={currentPage.startsWith('/novinky') ? 'active' : ''}
        href="/novinky">Novinky</a
      >
    </li>
    <li>
      <a
        class={currentPage.startsWith('/mysak-ocko') ? 'active' : ''}
        href="/mysak-ocko">Myšák Očko</a
      >
    </li>
    <li>
      <a
        class={currentPage.startsWith('/reference') ? 'active' : ''}
        href="/reference">Reference</a
      >
    </li>
    <li>
      <a
        class={currentPage.startsWith('/kontakt') ? 'active' : ''}
        href="/kontakt">Kontakt</a
      >
    </li>
  </ul>
</nav>

<script>
  // Closes Navbar
  const mainNavbar = document.getElementById('main-navbar');
  const backdrop = document.querySelector('.backdrop') as HTMLElement;
  const closeBtn = mainNavbar.querySelector('.close-btn');
  closeBtn.addEventListener('click', () => {
    mainNavbar.classList.toggle('open');
    backdrop.classList.toggle('open');
    setTimeout(() => {
      backdrop.style.display = 'none';
    }, 300);
  });
</script>

<style>
  #main-navbar {
    margin-bottom: 1rem;
  }

  ul {
    justify-content: center;
    gap: 1rem 2rem;
    list-style: none;
  }
  a {
    text-transform: uppercase;
    font-weight: var(--fw-bold);
    font-size: var(--fs-medium);
    transition: color 150ms;
  }

  a:hover,
  a:focus {
    color: var(--clr-primary-400);
  }

  .active {
    color: var(--clr-primary-400);
  }

  .close-btn {
    display: none;
  }

  @media only screen and (max-width: 800px) {
    .backdrop {
      position: fixed;
      width: 100%;
      height: 100vh;
      background-color: transparent;
      top: 0;
      left: 0;
      z-index: 90;
      transition: background-color 300ms ease-out;
    }

    .backdrop.open {
      background-color: hsla(0, 0%, 0%, 50%);
    }

    #main-navbar {
      position: fixed;
      background-color: var(--clr-primary-400);
      top: 0;
      right: -65%;
      bottom: 0;
      min-width: 60%;
      margin: 0;
      z-index: 100;
      transition: right 250ms ease-out;
    }

    #main-navbar.open {
      right: 0;
    }

    .flex-group {
      flex-direction: column;
    }

    ul {
      gap: 2rem;
    }

    .active {
      color: var(--clr-secondary-400);
    }

    .close-btn {
      display: block;
      align-self: flex-end;
      margin: 10px;
    }

    .icon-btn {
      fill: var(--clr-neutral-700);
    }
  }
</style>
