---
// Add service url as a query param
---

<a href="/kontakt" class="btn--primary">
  <slot />
</a>

<style>
  a {
    text-align: center;
    display: block;
    text-align: center;
    margin: 2rem auto;
    width: fit-content;
  }
</style>
