---
const { selectedService, style } = Astro.props;
---

<a
  href={selectedService ? `/kontakt?p=${selectedService}` : '/kontakt'}
  class="btn--primary"
  style={style}
>
  <slot />
</a>

<style>
  a {
    display: block;
    text-align: center;
  }
</style>
