---
import MainLayout from '../../layouts/MainLayout.astro';
export function getStaticPaths() {
  return [
    { params: { article: 'jarni-dilnicky' } },
    { params: { article: 'vanocni-divadlo-krtecek-a-vanoce' } },
    { params: { article: 'co-delat-na-oslave' } },
  ];
}

const { article } = Astro.params;
---

<MainLayout title={article}>
  <h1>{article}</h1>
</MainLayout>
