---
import { getCollection } from 'astro:content';
import MainLayout from '../../layouts/MainLayout.astro';

export async function getStaticPaths() {
  const articles = await getCollection('articles');
  return articles.map((article) => ({
    params: { article: article.slug },
    props: { article },
  }));
}
const { article } = Astro.props;
const { title, date } = article.data;
const { Content } = await article.render();

const dateObject = new Date(date);
const formattedDate = dateObject.toLocaleDateString('cs-CZ', {
  day: '2-digit',
  month: '2-digit',
  year: 'numeric',
});
---

<MainLayout title={title}>
  <h1>{title}</h1>
  <p>{formattedDate}</p>
  <Content />
</MainLayout>
