---
import { getCollection } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";
import ServiceCard from "../../components/ServiceCard.astro";

const services = await getCollection("services");
const featuredServices = services.filter((service) => service.data.isFeatured);
const basicServices = services.filter((service) => !service.data.isFeatured);
---

<MainLayout title="Služby">
  <h1>Služby</h1>
  <section id="featured-services" class="flex-group">
    {
      featuredServices.map((service) => (
        <ServiceCard service={service} isFeatured="true" />
      ))
    }
  </section>
  <section id="basic-services" class="flex-group">
    {
      basicServices.map((service) => (
        <ServiceCard service={service} isFeatured="false" />
      ))
    }
  </section>
</MainLayout>

<style>
  .flex-group {
    justify-content: center;
    gap: 2rem 3rem;
  }

  section {
    margin-bottom: 3rem;
  }

  #basic-services {
    column-gap: 5rem;
  }

  .card {
    background-image:;
  }

  @media only screen and (max-width: 800px) {
    .flex-group {
      gap: 2rem;
    }
  }
</style>
