---
import CMP from '../services/CookieYes.astro';
import GoogleAnalytics from '../services/GoogleAnalytics.astro';
import NetlifyIdentityWidget from '../services/NetlifyIdentity.astro';

import '../styles/fonts.css';
import '../styles/global.css';
import '../styles/images.css';
import Header from '../components/Header.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title} | Zábava se Šárkou</title>
    <!-- <CMP /> -->
    <!-- <GoogleAnalytics /> -->
    <NetlifyIdentityWidget />
  </head>
  <body>
    <Header />

    <main>
      <Navbar />
      <slot />
    </main>

    <Footer />
    <style>
      main {
        flex: 1;
        background-color: var(--clr-purple-400);
        border-radius: 15px;
        padding: 1.5rem 3.5rem;
      }

      @media only screen and (max-width: 800px) {
        main {
          margin-top: 3rem;
          border-radius: 0 0 15px 15px;
          padding: 1.5rem 5%;
        }
      }
    </style>
  </body>
</html>
