<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Zábava se Šárkou</title>
    <!-- CookieYes CMP -->
   <script id="cookieyes" type="text/javascript" src="https://cdn-cookieyes.com/client_data/c23b08ee6d38c1b7099e30c3/script.js"></script>
   
  </head>
  <body>
    <slot />
  </body>
</html>
